.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 60px;
  
}

.main-img {
  grid-column: 1;
}

.main-content {
  grid-column: 2;
}

.main p {
  padding-top: 32px;
  padding-bottom: 20px;
}

.main-img img {
  background-size: 2px;
}